.P1{
    opacity: 0.1;
    border-radius: 50%;
    position: fixed;
    left: 5%;
    bottom: 10%;
  }.P2{
    opacity: 0.1;
    border-radius: 50%;
    position: fixed;
    left: 30%;
    bottom: 60%;
  }.P3{
    opacity: 0.1;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    bottom: 20%;
  }.P4{
    opacity: 0.1;
    border-radius: 50%;
    position: fixed;
    left: 85%;
    bottom: 45%;
  }
  .header{
    width:40%;
    position:absolute;
    transform: translate(-50%,-50%);
    top:30%;
    left:80%;
    text-align: center;
  }
  .header span{
    display:inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vw;
    font-weight: 500;
    color:#ffffff;
    letter-spacing: 1vw;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 0.705);
    position: relative;
    transform: translateY(-100vh);
    animation: fall 0.7s forwards;
  }

  @keyframes fall{
    100%{
      transform:translateY(0);
    }
  }
  .header span:nth-child(2){
    animation-delay: 0.2s;
  }
  .header span:nth-child(3){
    animation-delay: 0.4s;
  }
  .header span:nth-child(4){
    animation-delay: 0.6s;
  }
  .header span:nth-child(5){
    animation-delay: 0.8s;
  }
  .header span:nth-child(6){
    animation-delay: 1s;
  }
  .header span:nth-child(7){
    animation-delay: 1.2s;
  }
  .header span:nth-child(8){
    animation-delay: 1.4s;
  }
  .header span:nth-child(9){
    animation-delay: 1.6s;
  }
  .header span:nth-child(10){
    animation-delay: 1.8s;
  }
  .header span:nth-child(11){
    animation-delay: 2s;
  }
  .header span:nth-child(12){
    animation-delay: 2.2s;
  }
  .header span:nth-child(13){
    animation-delay: 2.4s;
  }
  .header span:nth-child(14){
    animation-delay: 2.6s;
  }
  .header span:nth-child(15){
    animation-delay: 2.8s;
  }
  .header span:nth-child(16){
    animation-delay: 3s;
  }
  .header span:nth-child(17){
    animation-delay: 3.2s;
  }
  .Road{
    height:94vh;
    position: fixed;
    left:-20%;
}

.Car{
    height: 150px;
    width: 150px;
    position: relative;
    top: 155px;
    left:-30%;
    z-index: 4;
}

.blurred-bg-container .content h1 {
  margin: 0;
}

.blurred-bg-container {
  height: 100vh; /* =h */
  background-size: cover;
}

.blurred-bg-container .content {
  background: inherit;
  width: 450px; /* =cw */
  height: 550px; /* =ch */
  border-radius: 8px;
  box-shadow: 0 0 32px rgb(91, 14, 135);
  position: absolute;
  top: 55%; /* =ct */
  left: 50%; /* =cl */
  transform: translate(-50%, -50%);
  overflow: hidden;
}


.blurred-bg-container .blur {
  background: inherit;
  height: 100vh; /* h */
  width: 166.667%; /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(
    -20%,
    -50%
  ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  filter: blur(20px);
  z-index: -10;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:cursive
}

.content2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  background-color:  rgba(56, 31, 71, 0.7);
  padding:30px;
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
}

.profile-card img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #1e1e2e;
  margin-bottom: 20px;
}
.name{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.occupation{
  color: #fff;
  font-size: 16px;
  display:block;
  margin-bottom: 40px;
}

.btn{
  width: 200px;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #8b5cfb;
  transition: 0.3s ease;
  border-radius: 50px;
}

.btn-outline{
  border: 1px solid #8b5cfb;
  color: #fff;
  background-color: #625b7c;
  margin-bottom: 20px;
}

.btn:hover{
  transform: translateY(-5px);
  pointer-events: visible;
}